@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../assets/fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.page {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 60px);
  margin-top: 80px;
  background: #000;
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

.page-content {
  padding: 16px;
  flex-grow: 1;
  width: 100%;
}

/* Tablets (768px and below) */
@media (max-width: 768px) {
  .page {
    min-height: calc(100vh - 60px);
    margin-top: 100px;
    flex-direction: column;
  }

  .page-content {
    padding: 12px;
    width: 100%;
  }
}

/* Phones (480px and below) */
@media (max-width: 480px) {
  .page {
    margin-top: 80px;
    flex-direction: column;
  }

  .page-content {
    padding: 8px;
    width: 100%;
  }
}
