.favorites__empty {
  min-height: 16%;
  min-width: max-content;
  display: flex;
  justify-content: center;
  right: -292px;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.favorites__title {
  position: relative;
  left: 17px;
  bottom: 25px;
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 0px;
}
