.favorites__empty {
  min-height: 16%;
  min-width: max-content;
  display: flex;
  justify-content: center;
  right: -292px;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.favorites__title {
  position: relative;
  left: 17px;
  bottom: 25px;
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 0px;
}

/* Tablets (768px and below) */
@media (max-width: 768px) {
  .favorites__empty {
    right: auto;
    min-height: 30%;
  }

  .favorites__title {
    font-size: 28px;
    left: 0;
    bottom: 15px;
  }
}

/* Phones (480px and below) */
@media (max-width: 480px) {
  .favorites__empty {
    min-height: 40%;
    padding: 16px;
  }

  .favorites__title {
    font-size: 20px;
    left: 0;
    bottom: 10px;
  }
}
