.game__grid {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;
}

.game-grid .preloader {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
