.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home__content {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.home__circle-preloader {
  display: block;
  width: 50px;
  height: 50px;
  border: 4px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spin 0.75s infinite linear;
}

.home__header-container {
  position: static;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Tablets (768px and below) */
@media (max-width: 768px) {
  .home__content {
    flex-direction: column;
  }

  .home__circle-preloader {
    width: 40px;
    height: 40px;
    border-width: 3px;
  }
}

/* Phones (480px and below) */
@media (max-width: 480px) {
  .home {
    min-height: calc(100vh - 60px);
  }

  .home__circle-preloader {
    width: 30px;
    height: 30px;
    border-width: 2px;
  }
}
