.search__bar-input {
  width: 880px;
  border: none;
  border-radius: 20px;
  height: 40px;
  text-align: center;
}

.search__bar-form {
  position: relative;
  left: 11px;
}

.search__bar-search-btn {
  position: relative;
  right: 50px;
  bottom: 3px;
  width: 24px;
  height: 24px;
  background: url("../assets/images/search.svg") no-repeat center;
  background-size: 20px 20px;
  cursor: pointer;
}
